<div class="container-fluid">

    <div class="row">
        <div class="col-md-4 mt-5">
            <div class="card border-0 shadow p-3">
                <div class="form-floating mb-3 tetx-center">
                    <h5 class="text-center text-warning">Add Student</h5>
                </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="firstName" name="firstname" [(ngModel)]="first_name">
                        <label for="firstname">First name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="last_name">
                        <label for="lastName">Last name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email">
                        <label for="email">Email address</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="mobile" name="mobile" [(ngModel)]="mobile">
                        <label for="mobile">Mobile</label>
                    </div>
                    <button type="button" class="btn btn-outline-success" (click)="addStudent()">Add Student</button>
            </div>
        </div>
        <div class="col-md-8 mt-2">
            <h5 class="text-danger"> Student List</h5>
            <div class="card p-3 shadow">
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">First name</th>
                            <th scope="col">Last name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Mobile</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let studnet of studentsList">
                            <td >{{studnet.first_name}}</td>
                            <td>{{studnet.last_name}}</td>
                            <td>{{studnet.email}}</td>
                            <td>{{studnet.mobile}}</td>
                            <td>
                                <button class="btn btn-outline-danger" (click)="deleteStudent(studnet)">Delete</button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>

</div>